#urlSearch {
	width: 600px;
	height: 35px;
	font-family: Arial;
	font-size: 18px;
	color: #3498db;
	border: 1px solid #2980b9;
	border-radius: 4px;
}

label {
	color: #2980b9;
	font-family: Arial;
	font-size: 24px;
}

.search {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top:100px;
	text-align: center;
}

.buttonSearch {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  padding: 3px;
}

.buttonSearch:hover {
  background: #3cfc43;
  background-image: -webkit-linear-gradient(top, #3cfc43, #0dff00);
  background-image: -moz-linear-gradient(top, #3cfc43, #0dff00);
  background-image: -ms-linear-gradient(top, #3cfc43, #0dff00);
  background-image: -o-linear-gradient(top, #3cfc43, #0dff00);
  background-image: linear-gradient(to bottom, #3cfc43, #0dff00);
  text-decoration: none;
}

.result {
	width: 600px;
	font-family: Arial;
	font-size: 18px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 20px;
	color: #10b51d;
	background-color: #9effa6;
}

.error {
	width: 600px;
	font-family: Arial;
	font-size: 18px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 20px;
	color: #ff2626;
	background-color: #ffcece;
}

.loader {
	width: 600px;
	font-family: Arial;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
}
