<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Page analyzer v1.0</title>	
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="js/modules/app.js"></script>
		<script src="js/controllers/appController.js"></script>
		
		
	</head>
	<body ng-controller="AppController as page" ng-cloak>
		<div class="search"> 
			<label for="urlSearch">URL:</label>
			<input type="text" id="urlSearch" name="urlSearch" ng-model="page.url"/>
			<input type="submit"  class="buttonSearch" id="buttonSearch" name="buttonSearch" ng-click="page.scrap()" value="scrap!"/>
		</div>
		<div class="result" ng-show="page.showResult">
			<div>Title: {{page.pageInfo.title}}</div>
			<div>HTML version: {{page.pageInfo.htmlVersion}}</div>
			<div>Headings [h1, h2, h3, h4, h5, h6] -> {{page.pageInfo.headings}}</div>
			<div>Has Login Form: {{page.pageInfo.hasLoginForm}}</div>
			<div>External links: {{page.pageInfo.externalLinks}}</div>
			<div>Internal links: {{page.pageInfo.internalLinks}}</div>
		</div>
		<div class="error" ng-show="page.showError">
			<div>Error: {{page.errorMsg}}</div>
		</div>
		<div class="loader" ng-show="page.showLoader">
			<div>loading...</div>
		</div>
	</body>
</html>
